* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: "Inter";
}

/* Sidebar */
#sidebar {
    width: 390px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-right:1px solid rgba(0, 0, 0, 0.445) ;
}
.ajouterEmploye{
    display: flex;
    flex-direction: column;

    gap: 10px;
    color: #fff;
    background-color:#2f3a408f;
    padding: 1.5rem;
    width:310px;
}
.Exp{
    display: flex;
    justify-content: space-between;
}
.btn-ajoute{
    background-color: rgb(44, 202, 44);
}
.btn-ajoute:active{
    background-color: green;
}

.btn-delete{
    color: red;
}

.ajouterEmploye>button:hover{
   color: rgb(44, 202, 44);
}
.ajouterEmploye>button:active{
    color: green;
}
.titer {
    font-size: 20px;
    margin-bottom: 10px;
}

#sidebar button {
    border: none;
    padding: 8px 12px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

/* Modal */
#modals {
    display:none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #0000004f;
    z-index: 1000;
}

#form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    gap: 0.5rem;
    border-radius: 10px;
    padding: 1rem;
    width: 380px;
    max-height: 80vh;
    overflow-y: auto; 
}


#contenur {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contenur>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Inputs */
select,
option,
input {
    border: none;
    background-color: #0000001a;
    border-radius: 10px;
    padding: 5px;
    font-size: 13px;
}

label {
    font-weight: 600;
    font-size: 14px;
}

/* Photo */
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.photoPersonel {
    background-color: #4746461e;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

/* Experiences */

.information {
    margin-top: 5px;
    background-color: #e8e7e7b4;
    padding:5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.experiences>div>div {
    display: flex;
    flex-direction: column;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    gap: 10px;
}

.buttons>button {
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    color: #fff;

}
.btn-Enregisstrer {
    background-color: rgb(44, 202, 44);
}

.btn-annuler {
    background-color: rgb(235, 68, 68);
}
.btn-Enregisstrer:active{
    background-color: green;
}
.btn-annuler:active {
    background-color:rgb(157, 2, 2) ;
}

/* Plan d'étage */
#Plan {
    padding: 20px;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#Plan h1 {
    text-align: center;
    border-bottom: 2px solid;
    padding: 2rem;
    color: #2F3A40; 
}

.salles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Carte de salle */
.salles > div {
    position: relative;
    background: #2c2d2f;              
    border-radius: 15px;
    overflow: hidden;
    height: 230px;
    box-shadow: 0 4px 12px #0005;
    transition: transform .2s, box-shadow .2s;
}
#salleReception,
#salleServeurs,
#salleSecurite ,
#salleArchives{
    position: relative;
    border-radius: 15px;
    overflow: hidden;        /*  permet le scroll vertical si besoin */
    animation: glow 1s infinite alternate;
}

/* ANIMATION */
@keyframes glow {
    from {
        box-shadow: 0 0 0px #fa2836;
        border: 1.5px solid #f8636d;
    }
    to {
        box-shadow: 0 0 15px #fb2e3c;
        border: 1.5px solid #fc5a65;
    }
}


.salles > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px #0007;
}

.salles > div h2 {
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

/* images */
.salles > div >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;                
    position: absolute;
    top: 0;
    left: 0;
}

.contenu {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    height: 100%;
}

.contenu>button{
 padding: 10px;
 border: none;
 cursor: pointer;
 font-size: 15px;
}

.contenu>button:hover{
    color: rgb(9, 185, 9);
}
.contenu>button:active{
    color: rgb(2, 51, 2);
}

#employés{
    padding: 10px;
    background-color: #0000001a;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.popupAssign {
    position: fixed;
    top:0; left:0; right:0; bottom:0;
    background: rgba(0,0,0,0.6);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
    font-family: "Inter";

}

.popupAssign .box {
    display: flex;
    flex-direction: column;
    background:white;
    padding:20px;
    border-radius:12px;
    width:400px;
    gap: 1rem;
}

.assignItem {
    margin-left: 1rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:5px 10px;
    margin:5px 0;
    background:#f0f0f0;
    border-radius:6px;
}

.assignBtn {
    background:green;
    color:white;
    border:none;
    padding:2px 8px;
    cursor:pointer;
    border-radius:5px;
    height: 30px;
}

.closeBtn{
    border: none;
    padding: 8px 12px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
.usrPhoto{
    background-color: #4746461e;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.workerInZone{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #222222;
    background-color: #fff;
    border-radius: 15px;
    margin:0 2rem;
    gap: 5px;

}
.workerInZone>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usrPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4746461e;
    object-fit: cover;  
   
}
.removeBtn{
    color: red;
    background-color: #0000;
    font-size: 20px;
    border: none;
    margin-right:1rem ;
    cursor: pointer;
}
#formInfo{
    display:none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #0000004f;
    z-index: 1000;
}
#employeeInfo{
    display:flex;
    position:absolute;
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#employeeInfo>img{
    width: 120px;
    border-radius: 50%;
}
#employeeInfo>button{
    color: red;
    background-color: #0000;
    font-size: 20px;
    border: none;
    margin-right:1rem ;
    padding: 8px 12px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
